@inject Microsoft.AspNetCore.Identity.UserManager<mwowp.Web.Models.ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<mwowp.Web.Models.ApplicationUser> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mwowp.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mwowp.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FM App</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentUser = await UserManager.GetUserAsync(User);
                        var roles = await UserManager.GetRolesAsync(currentUser);

                        if (roles.Contains("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="WorkOrder" asp-action="Index">All Work Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="TechniciansPage" asp-action="List">Technicians</a>
                            </li>
                        }

                        if (roles.Contains("Technician"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="WorkOrder" asp-action="MyTasks">My Tasks</a>
                            </li>
                        }

                        if (!roles.Contains("Manager") && !roles.Contains("Technician"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="WorkOrder" asp-action="Create">Submit Work Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Asset" asp-action="MyAssets">My Assets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="WorkOrder" asp-action="MyOrders">My Orders</a>
                            </li>
                        }

                        <li class="nav-item">
                            <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                                <button type="submit" class="btn btn-link nav-link">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - mwowp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
